<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead('게시글 목록')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::navbar}"></nav>
<div class="d-flex justify-content-start align-items-center mb-3">
    <h2>게시글 목록</h2>
    <a th:href="@{/board/write}"
       class="btn btn-primary mb-3">작성</a>
<!--    오른쪽으로 밀기-->
    <div class="ms-auto">
        <a href="#" class="btn btn-outline-secondary me-2">회원정보</a>
        <a href="#" class="btn btn-outline-success">로그인</a>
    </div>
</div>
<div>
    <div class="container" th:fragment="content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${boardList}">
                <td th:text="${list.id}">글 번호</td>
                <td>
                    <a th:href="@{/board/view(id=${list.id})}"
                       th:text="${list.title}">
                        제목
                    </a>
                </td>
                <td th:text="${list.writer}">작성자</td>
                <td th:text="${#temporals.format(list.created, 'yyyy-MM-dd HH:mm')}">작성일자</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>