<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead('게시글 작성')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::navbar}"></nav>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>게시글 작성</h2>
        <a th:href="@{/board/list}"
           class="btn btn-secondary">목록</a>
    </div>
    <!-- 작성 페이지는 post method 로 작성-->
    <form th:action="@{/board/write}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" id="title" name="title" class="form-label" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea id="content" name="content" class="form-label" rows="10" cols="50"></textarea>
        </div>
        <div class="mb-3">
            <label for="writer" class="form-label">작성자</label>
            <input type="text" id="writer" class="form-label" name="writer" required>
        </div>
        <button type="submit" class="btn btn-primary">작성</button>
    </form>
</div>

<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>